.dropdown {
  display: inline-block;
  position: relative;
}

h1, h4 {

  width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}

#photo {
  width: 40%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.margin-row {
  margin-bottom: 35px;
}

option {
  padding: 5px 0px;
}

select {
  font-size: 16px;
  width: 100%;
  background: white;
  border: solid 2px #6c757d;
  border-radius: 10px;
  height: 50px;
  padding: 5px 15px;
}

.plot {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}